/* http://paletton.com/#uid=33k0s0kkOp0aRCCgftHo-l7tzg5 */

 
:root {
    --primaryBg: #232323;
    --secondaryBg: #333;
    --navColor: #333;
    --default: #fff;
    --defaultInverse: #232323;
    --primary: #fff200;
    --secondary: #ff2a6d;
    --terciary: #FFF200;
  }